<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%@beep_picture=BeepPicture.find(feed.source_id)%>
<%@beep=Beep.find(feed.beep_id)%>
<% @partner=User.find(feed.user_id)%>

  <div class="beep_master_blog">
    <div id="image_tag">
    <%@image= UserImage.find(:first,:conditions=>["user_id=?",@partner.id])%>
     <%if @image.blank?%>
     <%=link_to image_tag("mid.png"),{:controller=>"users",:action=>"user_info",:id=>@partner.id},:rel=>"facebox"%>
     <%else%>
     <%=link_to image_tag(@image.image.url(:mid)),{:controller=>"users",:action=>"user_info",:id=>@partner.id},:rel=>"facebox",:layout=>nil%>
     <%end%>
    </div>

    <div class="beep_contain_block">

        <div id="beep_user_names">
          <div class="beep_icon">
              <%=image_tag("comment.png")%><br/>
                <% if feed.third_source == "public"%>
            <span style="font-size:11px">public</span>
          <%end%>
          </div>
             <%= link_to truncate(@partner.user_name,:length =>19),{:controller=>"users",:action=>'user_info',:id=>@partner.id},:rel=>'facebox'%> <span style="font-size:11px"></span>
        </div>
        <div id="beed_content">
        
        <%unless @beep_picture.description.blank? %>
        <%=@beep_picture.description%>
        <br/><br/>
        <%end%>

      
       <%=link_to image_tag(@beep_picture.image.url(:medium)),{:controller=>"beep",:action=>"full_size",:id=>@beep_picture.id},:target=>'_blank'%>

       <br/>

        </div>
      <div class="smiley_set">
      <div class="created_at">
       <span class="beep_created">
         <%= distance_of_time_in_words_to_now(feed.created_at)%></span>

      </div>

     </div>

    </div>
    <div class="see_all">
      <span class="smiley_set">
      &nbsp;<span class="change_text" style="cursor:pointer;color:purple"><%=pluralize(@beep.beep_comments.count, 'Comment')%>&nbsp;.</span>
      <%=render :partial=>"like/likes_added"%>
      <%=render :partial=>"dislike/dislikes_added"%>
      &nbsp;<span class="change_text" style="cursor:pointer;color:#5c5c5c;font-size:11px">expand-hide</span>
      </span>
    </div>
<div style="display:none;" class="name">


<div class="beep_tops">
<%@beep_comment = BeepComment.find(:all, :conditions=>["beep_id=?",@beep.id],:order=>"created_at desc",:limit=>4)%>
<br/>

<div class="comment_background">

<%= render :partial=>"beep_comment/comment"%>
</div>
</div>
</div>



   </div>











