<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% @beep=Beep.find(feed.beep_id)%>
<%if partnership_indicator(@user.id,feed.user_id) == "yes_boss" || @user.id == feed.user_id or feed.third_source == "public" ||  partnership_indicator(@user.id,@beep.user.id) == "yes_boss"%>
<%@partner=User.find(feed.user_id)%>

 <div class="beep_master_blog">
    <div id="image_tag">
     <%if feed.fought_source=='hide'%>
      <%=image_tag("panda_large.png")%>
     <%else%>
    <%@image= UserImage.find(:first,:conditions=>["user_id=?",@partner.id])%>
     <%if @image.blank?%>
     <%=link_to image_tag("mid.png"),{:controller=>"users",:action=>"user_info",:id=>@partner.id},:rel=>"facebox",:layout=>nil%>
     <%else%>
     <%=link_to image_tag(@image.image.url(:mid)),{:controller=>"users",:action=>"user_info",:id=>@partner.id},:rel=>"facebox",:layout=>nil%>
     <%end%>
     <%end%>
    </div>
    <div class="beep_contain_block">

        <div id="beep_user_names">
       
          <div class="sub_beep_contain_block">
            <%if feed.fought_source=='hide'%>
            <div class="beep_icon">
          <span style="color:#808080;font-size:smaller">masked</span>
          </div>
           <span style="color:black">Hidden Identity</span>
           <%else%>
           <%= link_to truncate(@partner.user_name,:length =>19),{:controller=>"users",:action=>'user_info',:id=>@partner.id},:rel=>'facebox'%>
           <%end%>
            <span style="font-size:11px"> dislikes </span>
             <%=link_to truncate(@beep.user.user_name,:length =>19),{:controller=>"users",:action=>'user_info',:id=>@beep.user.id},:rel=>'facebox'%>'s
                 <span style="font-size:11.5px">beep</span>
          </div>

        </div>

      <div class="smiley_set">
      <div class="created_at">
      <span class="beep_created">
           &nbsp;&nbsp;&nbsp;<%= distance_of_time_in_words_to_now(feed.created_at)%></span>
      </div>

     </div>


     </div>


           <div class="see_all">
     <div class="cool">
     </div>
   <span class="change_text" style="cursor:pointer;color:purple">Expand</span>
    </div>
<div style="display:none;" class="name">
  <br/>
  <div class="show_beep">
        &nbsp&nbsp<span style="font-size:large">"</span>&nbsp&nbsp<%=link_to @beep.beep_content,:controller=>"users",:action=>"office",:id=>"utility",:mark=>@beep.id%>&nbsp&nbsp<span style="font-size:large">"</span><br/>
        <span style="font-size:11px"><%= distance_of_time_in_words_to_now(@beep.created_at)%></span>
  </div>
<div class="smiley_set">

      <%=link_to "comment",{:controller=>"beep_comment",:action=>'create_comment',:id=>feed.beep_id},:rel=>'facebox'%>&nbsp;.
      &nbsp;<%=link_to @beep.likes.count,{:controller=>"oppose",:action=>'view',:id=>feed.source_id},:rel=>'facebox'%>&nbsp<%=link_to "like",{:controller=>"like",:action=>'create_like',:id=>@beep.id},:rel=>'facebox'%>&nbsp;.
      &nbsp;<%=link_to @beep.dislikes.count,{:controller=>"supports",:action=>'view',:id=>feed.source_id},:rel=>'facebox'%>&nbsp;<%=link_to "dislike",{:controller=>"dislike",:action=>'create_dislike',:id=>@beep.id},:rel=>'facebox'%>&nbsp;
</div>


  </div>






     </div>
 <%end%>


  